<div class="container pb-5 mb-5" style="margin-top: 100px; margin-bottom: 500px">
  <div class="jumbotron mt-2">

<div class="modal-body mx-auto white-text" style="width: 80%">
    <form method="post" action="/insertstylist">
        <h3><i><b>Add a stylist:</b></i></h3>
        <div class="form-group">
          <input type="name" class="form-control" id="name" placeholder="Enter Stylist Name" name="name" required="">
        </div>
        <div class="form-group">
          <input type="description" class="form-control" id="description" placeholder="Enter Description" name="description" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="pic" placeholder="Enter Image File Path" name="pic" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="fb" placeholder="Enter Facebook URL" name="fb" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="ig" placeholder="Enter Instagram URL" name="ig" required="">
        </div>
      
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-lg" title="Submit contact form">
            Submit
            </button>
        </div>
    </form>
</div>
</div>
</div>