      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Stylists</h4>
                  <a role="button" class="btn btn-primary btn-sm" href="/admin/stylist/add" style="background-color: white; color: purple">Add a stylist</button></a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Stylist Name
                        </th>
                        <th>
                          Description
                        </th>
                        <th class="text-right">
                          Action
                        </th>
                      </thead>
                      <tbody>
                        {{#each rows}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.description}}</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" title="See more details" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">satellite</i>
                                </button>
                                
                           </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <!-- your content here -->
        </div>
      </div>





