<div id="site-content">
      <header class="site-header-test">
        <div class="container">
          <a id="branding" href="/../../">
            <img src="/images/test.png" alt="Company name" class="logo">
            
          </a> <!-- #branding -->

          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/products?p=1">Products</a></li>
              <li class="menu-item"><a href="/services">Services</a></li>
              <li class="menu-item"><a href="/aboutus">About</a></li>
              <li class="menu-item"><a href="/faqs">FAQs</a></li>
              <li class="menu-item"><a href="/login">Log-in</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->

          <div class="mobile-navigation"></div>
        </div>
      </header>
      
      <main class="main-content">
        <div class="page">
          <div class="container">
          <div class="container-fluid">
           <div class="team">
            <h2 class="team-name section-title" style="text-align:center">ABOUT US</h2>
            <p>Celebrity makeup artist Junie Sierra shares how he rose from the ranks —  from being a salon floor sweeper, to one of the country's top makeup artists who has worked with Filipino TV personalities Solenn Heussaff, Georgina Wilson and Anne Curtis, among others. Junie was also trained by Hollywood's L.A. based Celebrity Make Up Artist "ROSHAR" and passed the
Advance Hairstyling Program in Seoul, South Korea.
The BLOC by Junie Sierra & Co. is one of the first luxury and upscale boutique styled Hair and Make Up
Salon that would capture the heart of all professionals both men and women, high profile politicians and
celebrities and also a well-heeled clientele’s.
The BLOC by Junie Sierra & Co. believes that luxury of time is the best way to pamper and enjoy life. We
focus on the small and important details to ensure on what is essential and rewarding by giving our client
an exceptional service in a relaxing environment with an overall salon total experience.</p>
            <img src="/images/juniesierra.jpg" alt="Junie Sierra" style="display: inline-block" height="500" width="800 ">

            <div class="row">
              <div class="col-md-6">
                <h3 class="team-name">MISSION</h3>
The BLOC  by  Junie Sierra &  Co. is  dedicated to  provide an  experience  of  time  as  a greatest  luxury.
Creating  a state of  the art salon whose internationally trained team  sets  a high  standard  of  excellent 
service and exceptional techniques  with  utmost  professionalism and courtesy.
              </div>
              <div class="col-md-6">
                <h3 class="team-name">VISION</h3>
The BLOC  by  Junie Sierra  & Co. is  to  be  the first hair  and make-up salon in  the Philippines that  combines  
science and technology  as  an  art.
And to  establish a world class fashion academy dedicated in  developing  talented  and passionate  
individuals thru  alternative learning  and scholarship programs  that  would elevate the quality of  
education for young artist.

              </div>
                </div>
              </div>
            </div>
          </div></div>
      </div>

        </div>
      </main>




      {{> footer}}