<div id="site-content">
      <header class="site-header-test">
        <div class="container">
          <a id="branding" href="/../../">
            <img src="/images/test.png" alt="Company name" class="logo">
            
          </a> <!-- #branding -->

          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/products?p=1">Products</a></li>
              <li class="menu-item"><a href="/services">Services</a></li>
              <li class="menu-item"><a href="/aboutus">About</a></li>
              <li class="menu-item"><a href="/faqs">FAQs</a></li>
              <li class="menu-item"><a href="/login">Log-in</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->

          <div class="mobile-navigation"></div>
        </div>
      </header>
      
      <main class="main-content">
        <div class="page">
          <div class="container">
          <div class="container-fluid">
           <div class="team">
            <h2 class="team-name section-title" style="text-align:center">ABOUT US</h2>
            <p>Celebrity makeup artist Junie Sierra shares how he rose from the ranks —  from being a salon floor sweeper, to one of the country's top makeup artists who has worked with Filipino TV personalities Solenn Heussaff, Georgina Wilson and Anne Curtis, among others. </p>

            <div class="row">
              <div class="col-md-6">
                <h3 class="team-name">About</h3>
                      <video width="550" height="350" controls>
                      <source src="/dummy/aboutus.mp4" type="video/mp4">
                      </video>
                      <h3 style="text-align:center" class="team-name">ABS-CBN Magic Ball 2018 Alice Dixson</h3>
              </div>
              <div class="col-md-6">
                <h3 class="team-name">Bookings</h3>
                  <h3>For booking and reservations, call The Bloc by Junie & Sierra Co.</h3>
                  <li>Tel: +632 403 2033</li>
                  <li>Mobile: +63 917 878 0516</li>

              </div>
                </div>
              </div>
            </div>
          </div></div>
      </div>

        </div>
      </main>




      {{> footer}}