<div id="site-content">
      <header class="site-header-test">
        <div class="container">
          <a id="branding" href="/../../">
            <img src="/images/test.png" alt="Company name" class="logo">
            
          </a> <!-- #branding -->

          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/products?p=1">Products</a></li>
              <li class="menu-item"><a href="/services">Services</a></li>
              <li class="menu-item"><a href="/aboutus">About</a></li>
              <li class="menu-item"><a href="/faqs">FAQs</a></li>
              <li class="menu-item"><a href="/login">Log-in</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->

          <div class="mobile-navigation"></div>
        </div>      </header>
<div class="container-fluid">
    <div class="team">
      <h2 class="team-name text-center">Frequently Asked Questions</h2>
        <h3 class="team-name text-center">Q: What is the final price of my service? </h3>
        <div style="margin-left: 200px; margin-right: 200px; text-align:center">It is very difficult to determine the exact price of the service that you had. Please note that the prices here are quoted at a minimum, and this will change depending on several factors. These factors include the location of the branch, the seniority of the stylists that will handle your service, your hair (thickness and length), and your hair history. Each client is assessed individually, based on your needs and goals, thus each price is really customized per client.</div>
      <h3 class="team-name text-center">Q: CAN I GET A CONSULTATION BEFORE GETTING A SERVICE?</h3>
        <div style="margin-left: 200px; margin-right: 200px; text-align:center">Yes! And it is absolutely FREE and without any commitments. In fact, consulting with one of our stylists is highly encouraged. The stylist can properly assess if your hair can go through the service that you like or achieve the pegs that you have. To help, you may prepare and explain what you are planning for your hair, as well as your hair history (especially if you’ve had chemical procedures such as coloring, perming, and rebonding).</div>
        <h3 class="team-name text-center">Q: I AM VERY UNHAPPY WITH THE RESULTS OF MY SALON VISIT. WHAT SHOULD I DO?</h3>
        <div style="margin-left: 200px; margin-right: 200px; text-align:center">The best time to let us know if you were not satisfied with your service is in the salon, immediately after your service. Please, do not step out of the salon if you feel that we were not able to deliver our best service. It is for both or benefit that whatever wrong is corrected right away. We want you to be happy, and hope that you leave our salons feeling good.
</div>

      </div>
  </div>
</div>
</div>

{{> footer}}