<div id="site-content">
      <header class="site-header-test">
        <div class="container">
          <a id="branding" href="/../../">
            <img src="/images/test.png" alt="Company name" class="logo">
            
          </a> <!-- #branding -->
          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/products">Products</a></li>
              <li class="menu-item"><a href="about.html">About</a></li>
              <li class="menu-item"><a href="service.html">Services</a></li>
              <li class="menu-item"><a href="gallery.html">Gallery</a></li>
              <li class="menu-item"><a href="contact.html">Contact</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->
          <div class="mobile-navigation"></div>
        </div>
      </header>

<div class="container-fluid">
    <div class="team">
      <h2 class="team-name text-center">LOGIN</h2><hr>
        <form method="post" action="/login">
            <h3 class="team-name">Email</h3>
            <div class="form-group">
              <input type="email" style= "margin: auto; color:white" class="form-control" id="name" placeholder="Email" name="email" required>
            </div>
            <h3 class="team-name">Password</h3>
            <div class="form-group">
              <input type="password" style= "margin: auto; color:white" class="form-control" id="name" placeholder="Password" name="password" required>
            </div>
            <h6 style="text-align: auto">
              <a href="forgotpassword"> Forgot Password?</a>
            </h6>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;LOGIN</button>
            </div>
        </form>
      </div>
    </main>
  </div>
</div>
</div>

{{> footer}}