<div id="site-content">
      <header class="site-header-test">
        <div class="container">
          <a id="branding" href="/../../">
            <img src="/images/test.png" alt="Company name" class="logo">
            
          </a> <!-- #branding -->
          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/products">Products</a></li>
              <li class="menu-item"><a href="about.html">About</a></li>
              <li class="menu-item"><a href="service.html">Services</a></li>
              <li class="menu-item"><a href="gallery.html">Gallery</a></li>
              <li class="menu-item"><a href="contact.html">Contact</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->
          <div class="mobile-navigation"></div>
        </div>
      </header>

<main class="main-content">	
					<div class="container">
							<div class="fullwidth-block team-section">
							   <div class="container">
							      <h2 class="section-title">Products</h2>
							         {{#each products}}
							           <div class="row">
							             <div class="col-md-3">
							               <div class="team">
							                  <figure class="team-image"><img src="{{pic}}"></figure>
							                  <h3 class="team-name"><a href="/products/{{id}}">{{name}}</h3></a>
							                  {{descriptions}}
							                </div>
                          </div>
							          {{/each}}
												</div>

							</main>

{{> footer}}