<div id="site-content">
      <header class="site-header-test">
        <div class="container">
          <a id="branding" href="/../../">
            <img src="/images/test.png" alt="Company name" class="logo">
            
          </a> <!-- #branding -->

          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/products?p=1">Products</a></li>
              <li class="menu-item"><a href="/services">Services</a></li>
              <li class="menu-item"><a href="/aboutus">About</a></li>
              <li class="menu-item"><a href="/faqs">FAQs</a></li>
              <li class="menu-item"><a href="/login">Log-in</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->

          <div class="mobile-navigation"></div>
        </div>
      </header>

<main class="main-content">
        <div class="page">
          <div class="container">
            <p>THE BLOC BY JUNIE SIERRA & CO.’s knowledgeable stylists, chemists and makeup artists take great care in making sure you feel at ease discussing your desired look and will go out of their way to listen and accommodate during your consultation. We offer a wide variety of salon services, including cut, color, styling and makeup services to fit your style needs. Prices vary per artist.</p>

            <div class="row">
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-1.png" class="feature-image">
                  <h3 class="feature-title">Hair Colors</h3>
                  <p>Changing or adjusting the color of the hair is the most powerful “happy weapon” of that kind, that we offer. All of our designers are trained in advanced colour techniques as well as advanced colour theory classes. We are committed to ongoing, advanced training and embrace education.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-2.png" class="feature-image">
                  <h3 class="feature-title">Consultation</h3>
                  <p>Hairs have played a major role on our everyday life. It's time to know their health and ways to restore its natural state. Let The Bloc by Junie Sierra & Co. takes care of our most precious hair.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-3.png" class="feature-image">
                  <h3 class="feature-title">Haircut</h3>
                  <p>With so many different popular hairstyles these days, finding the best haircut can be confusing. Deciding on the best hairstyle isn’t all about the latest trends or the coolest cuts, but more about picking the best haircut for you. Let The Bloc by Junie Sierra & Co. help you find your perfect look.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-4.png" class="feature-image">
                  <h3 class="feature-title">Make-up</h3>
                  <p>Makeup artistry is an exciting, challenging, and incredibly rewarding career choice. Let The Bloc by Junie Sierra & Co. help you achieve the perfect look on the perfect occasion!</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-5.png" class="feature-image">
                  <h3 class="feature-title">Hair Care & Styling</h3>
                  <p>From super-hold hairspray to shampoo and conditioner, our hair care products will help you nourish, repair, smooth and more for the best results.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-6.png" class="feature-image">
                  <h3 class="feature-title">Beauty Essentials</h3>
                  <p>Stock up on beauty essentials for your salon, including couch roll, spatulas, disposable gloves and more to ensure you have everything you need.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-7.png" class="feature-image">
                  <h3 class="feature-title">Hair Perming & Strenghtening</h3>
                  <p> Create volume and contemporary curls with our brilliant range of perming products, or chemically straighten with our top hair relaxing kits.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-8.png" class="feature-image">
                  <h3 class="feature-title">Mens' Care</h3>
                  <p>Who says men don't need to care for their hair? Real men do! Have your hair treatments at The Bloc by Junie Sierra & Co.!</p>
                </div>
              </div>
            </div> <!-- .row -->

            <div class="row">
              <div class="col-md-6">
                <div class="price-list">
                  <h2 class="section-title">Men's prices</h2>
                  <ul class="prices">
                    <li>Cutting & Styling<span class="price">₱200 - ₱1000</span></li>
                    <li>Hair Color<span class="price">₱1000 - ₱2000</span></li>
                    <li>Make-up<span class="price">₱600 - ₱2000</span></li>
                    <li>Treatments<span class="price">₱500 - ₱3300</span></li>
                    <li>Straightening and Perming<span class="price">₱2200 - ₱3500</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="price-list">
                  <h2 class="section-title">women's prices</h2>
                  <ul class="prices">                    
                    <li>Cutting & Styling<span class="price">₱200 - ₱1500</span></li>
                    <li>Hair Color<span class="price">₱1000 - ₱2700</span></li>
                    <li>Make-up<span class="price">₱600 - ₱3000</span></li>
                    <li>Treatments<span class="price">₱500 - ₱4300</span></li>
                    <li>Straightening and Perming<span class="price">₱2200 - ₱4500</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p style="text-align:center">DISCLAIMER: Prices are quoted at a minimum, and may vary depending on hair length. Please consult with your stylist for possible additional charges.</p>
        </div>

      </main>


      {{> footer}}