      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="widget contact-widget">
                <h3 class="widget-title">Contact</h3>
                <div class="contact-info">
                  <address>
                    <img src="/images/icon-map-small.png" class="icon">
                    <p><strong>The Bloc by Junie Sierra & Co.</strong> 
                    Lower Ground Floor, C2 Building, 28th St., Corner 7th Avenue, Bonifacio High Street Central, Bonifacio Global City, Taguig City
                    Taguig</p>
                  </address>
                  <a href="mailto:theblocbyjuniesierra@gmail.com" class="mail"><img src="/images/icon-envelope-small.png" class="icon">theblocbyjuniesierra@gmail.com</a>
                  <a href="tel:+63917 878 0516" class="phone"><img src="/images/icon-phone-small.png" class="icon">+63917 878 0516</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="widget">
                <h3 class="widget-title">Social Media</h3>
                <p>Follow us on our social media accounts!</p>
                <div class="social-links">
                  <a target="_blank" href="https://www.facebook.com/TheBLOCbyJunieSierraAndCo/"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" href="https://www.instagram.com/theblocbyjuniesierraandco/"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>

          <div class="colophon" >
            <p>Copyright 2018 The Bloc by Junie Sierra. Designed by Schlimazl. All rights reserved.</p>
          </div>
        </div>
      </footer>
    </div>